<article class="container-fluid border border-black mt-5 w-100 d-flex">
  
  <div class="border-end border-success p-3" style="width: 25%;">
    <h1>Panel del administrador</h1>
    <div class="d-flex flex-column gap-3">
      
      <button class="btn w-100 py-2 fw-bold" 
              [class.btn-success]="seccionActiva === 'usuarios'"
              [class.btn-light]="seccionActiva !== 'usuarios'"
              (click)="cambiarSeccion('usuarios')">
        Usuarios
      </button>

      <button class="btn w-100 py-2 fw-bold" 
              [class.btn-success]="seccionActiva === 'categorias'"
              [class.btn-light]="seccionActiva !== 'categorias'"
              (click)="cambiarSeccion('categorias')">
        Categorías
      </button>

      <button class="btn w-100 py-2 fw-bold" 
              [class.btn-success]="seccionActiva === 'estadisticas'"
              [class.btn-light]="seccionActiva !== 'estadisticas'"
              (click)="cambiarSeccion('estadisticas')">
        Estadísticas globales
      </button>

    </div>
  </div>

  <div class="p-4" style="width: 75%;">
    @switch (seccionActiva) {
      @case ('usuarios') {
        <app-usuario />
      }
      @case ('categorias') {
        <app-categorias />
      }
      @case ('estadisticas') {
        <app-estadisticas-globales />
      }
    }
  </div>

</article>