<form [formGroup]="registerForm" (ngSubmit)="getDataForm()">
  <h3 class="text-center mb-4 text-secondary">Crea tu Cuenta</h3>

  <div class="row">
    <div class="col-md-6 mb-3">
      <label class="form-label fw-bold">Nombre</label>
      <input
        type="text"
        formControlName="username"
        class="form-control"
        
      />
      @if(checkControl('username','required')){
        <p class="error">Campo obligatorio</p>
      }
      @if(checkControl('username','minlength')){
        <p class="error">Este campo debe tener al menos 3 carácteres</p>
      }
      
    </div>

    <div class="col-md-6 mb-3">
      <label class="form-label fw-bold">Apellido</label>
      <input
        type="text"
        formControlName="apellido"
        class="form-control"

      />
      @if (checkControl('apellido','required')) {
        <p class="error">Campo obligatorio</p>
      }
      @if (checkControl('apellido','minlength')) {
        <p class="error">el apellido debe tener al menos 3 carácteres</p>
      }
    </div>
  </div>

  <div class="mb-3">
    <label class="form-label fw-bold">Correo Electrónico</label>
    <input
      type="email"
      formControlName="email"
      class="form-control"/>
     @if (checkControl('email','required')) {
      <p class="error">Campo obligatorio</p>
     }
     @if (checkControl('email','pattern')) {
      <p class="error">El email debe ser válido</p>
     }
    
  </div>

  <div class="mb-3">
    <label class="form-label fw-bold">Contraseña</label>
    <input
      type="password"
      formControlName="password"
      class="form-control"
    />
    @if (checkControl('password','required')) {
      <p class="error">Campo obligatorio</p>
    }
    @if (checkControl('password','minlength')) {
      <p class="error">La contraseña debe tener al menos 8 carácteres</p>
    }
  </div>

  <div class="mb-4">
    <label class="form-label fw-bold">Confirmar Contraseña</label>
    <input
  type="password"
  formControlName="confirmPassword"
  class="form-control"
  [class.is-invalid]="
    registerForm.hasError('passwordMismatch') &&
    (registerForm.get('password')?.touched || registerForm.get('confirmPassword')?.touched)
  "
/>
      @if (registerForm.hasError('passwordMismatch') && 
     (registerForm.get('password')?.touched || registerForm.get('confirmPassword')?.touched)) {
      <p class="error">Las contraseñas no coinciden.</p>
}
  </div>

  <div class="d-grid">
    <input type="submit" class="btn btn-primary btn-lg" [disabled]="!registerForm.valid" />
  </div>
</form>
