<form [formGroup]="registerForm" (ngSubmit)="getDataForm()">

  <h2 class="form-title">Crea tu cuenta</h2>
  <p class="form-subtitle">Empieza a comprar y vender en ReMarket.</p>

  <div class="mb-3">
    <label class="form-label fw-bold">Nombre de usuario</label>
    <input
      type="text"
      formControlName="username"
      class="form-control"
      placeholder="javi_market"
    />
    @if(checkControl('username','required')){
      <p class="error">Campo obligatorio</p>
    }
    @if(checkControl('username','minlength')){
      <p class="error">Este campo debe tener al menos 3 caracteres</p>
    }
  </div>

  <div class="mb-3">
    <label class="form-label fw-bold">Correo Electrónico</label>
    <input
      type="email"
      formControlName="email"
      class="form-control"
      placeholder="tu@email.com"
    />
    @if (checkControl('email','required')) {
      <p class="error">Campo obligatorio</p>
    }
    @if (checkControl('email','pattern')) {
      <p class="error">El email debe ser válido</p>
    }
  </div>

  <div class="mb-3">
    <label class="form-label fw-bold">Contraseña</label>
    <input
      type="password"
      formControlName="password"
      class="form-control"
      placeholder="••••••••"
    />
    @if (checkControl('password','required')) {
      <p class="error">Campo obligatorio</p>
    }
    @if (checkControl('password','minlength')) {
      <p class="error">La contraseña debe tener al menos 8 caracteres</p>
    }
  </div>

  <div class="mb-4">
    <label class="form-label fw-bold">Confirmar Contraseña</label>
    <input
      type="password"
      formControlName="confirmPassword"
      class="form-control"
      placeholder="••••••••"
      [class.is-invalid]="
        registerForm.hasError('passwordMismatch') &&
        (registerForm.get('password')?.touched || registerForm.get('confirmPassword')?.touched)
      "
    />
    @if (registerForm.hasError('passwordMismatch') &&
      (registerForm.get('password')?.touched || registerForm.get('confirmPassword')?.touched)) {
      <p class="error">Las contraseñas no coinciden.</p>
    }
  </div>

  <div class="d-grid">
    <button
      type="submit"
      class="btn-submit"
      [disabled]="!registerForm.valid"
    >
      <i class="bi bi-person-plus me-2"></i> Crear cuenta
    </button>
  </div>

</form>
