<form [formGroup]="loginForm" (ngSubmit)="getDataForm()">

  <h2 class="form-title">Bienvenido de vuelta</h2>
  <p class="form-subtitle">Inicia sesión para gestionar tus artículos.</p>

  <div class="mb-3">
    <label class="form-label fw-bold">Correo Electrónico</label>
    <input
      type="email"
      formControlName="email"
      class="form-control"
      placeholder="tu@email.com"
    />
    @if(checkControl('email','required')){
      <p class="error">Campo obligatorio</p>
    }
    @if (checkControl('email','pattern')) {
      <p class="error">El email no es válido</p>
    }
  </div>

  <div class="mb-4">
    <label class="form-label fw-bold">Contraseña</label>
    <input
      type="password"
      formControlName="password"
      class="form-control"
      placeholder="••••••••"
    />
    @if (checkControl('password','required')) {
      <p class="error">Contraseña requerida</p>
    }
    @if (checkControl('password','minlength')) {
      <p class="error">La contraseña debe tener al menos 8 caracteres</p>
    }
  </div>

  <div class="d-grid">
    <button
      type="submit"
      class="btn-submit"
      [disabled]="loginForm.invalid"
    >
      <i class="bi bi-box-arrow-in-right me-2"></i> Entrar
    </button>
  </div>

</form>
